.noselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  margin: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lottie {
  width: 400px;
  height: 400px;
  cursor: pointer;
}

.lottie-container {
  position: relative;
}

.lottie-count {
  color: white;
  font-size: 85px;
  font-weight: bold;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 38%;
  z-index: 9999;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  pointer-events: none;
  -webkit-transform-origin: center;
          transform-origin: center;
  text-shadow: 0 10px 30px rgba(0, 109, 92, 0.3);
}

.breathing {
  -webkit-animation: breathing 1s infinite alternate ease-in-out;
          animation: breathing 1s infinite alternate ease-in-out;
}

@-webkit-keyframes breathing {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes breathing {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
