.noselect {
	user-select: none;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.lottie {
	width: 400px;
	height: 400px;
	cursor: pointer;
}

.lottie-container {
	position: relative;
}

.lottie-count {
	color: white;
	font-size: 85px;
	font-weight: bold;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 38%;
	z-index: 9999;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	pointer-events: none;
	transform-origin: center;
	text-shadow: 0 10px 30px rgba(#006d5c, 0.3);
}

.breathing {
	animation: breathing 1s infinite alternate ease-in-out;
}

@keyframes breathing {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(1.1);
	}
}
